<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./style.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>OCR</title>

    <style>
      body {background-color: black; padding-left: 40%; padding-top: 15%;}
      h1   {color: blue; }
      p    {color: red;}
      .uploadd{ padding: 2rem; padding-left: 8rem;}
      .but1{padding-top: 2rem ; padding-left: 4rem;}

      </style>
  </head>
  <div class="bg-secondary text-white">
  <body class="bg-secondary text-white" style="">
    <h1>ADD id for delivery</h1>
    <div class="but1">
    <form
      id="frmUploader"
      enctype="multipart/form-data"
      action="/upload"
      method="post"

      class=" pd-3"
    >
      <input type="file" name="image" multiple />

    </div>


      <div class="uploadd">
        <input class="btn pt-3 btn-md btn-primary btn-lg" type="submit" name="submit" id="btnSubmit" value="Upload" />
      </div>
      
    </form>
  </body>
</div>
</html>

